body{
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: Roboto;
}
.top-part {
  display: flex;
  background-color: #1F2937;
  justify-content: space-between;
  align-items: center;
  padding: 10px 200px;
  margin-bottom: 0;
  color: #F9FAF8;
}
ul{
  list-style-type: none;
  font-family: Arial;
  display: flex;
  gap: 30px;
  font-size: 12px;
}
a{
  text-decoration: none;
  color: #F9FAF8;
}
.header-logo {
  font-weight: bold;
}
.hero-section {
  background-color: #1F2937;
  padding: 50px 100px;
  display: flex;
  justify-content: center;
  align-items: stretch;
}
.left-hero-section{
  width: 300px;
  margin-right: 100px;
}
.placeholder{
  background-color: grey;
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 12px;
}
.hero-text {
  margin-top: 0;
  font-size: 32px;
  font-weight: bold;
  color: #E5E7EB;
  font-weight: 900;
  margin-bottom: 0;
}
.hero-description {
  font-size: 12px;
  color: #E5E7EB;
  margin-top: 4px;
}
.signup {
  background-color: #3882F6;
  border: none;
  padding: 5px 20px;
  border-radius: 5px;
  color: #E5E7EB;
  font-weight: 700;
}
.hero-image {
  width: 400px;
  height: 150px;
}
.main-section {
}
.tracklist {
}
.album-songs {
}
.album-cover {
}
.lyrics {
}
.artist {
}
.call-to-action {
}
.action {
}
.click {
}
.sign-up-2 {
}
.footer {
}
