body{
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: Roboto;
}
.top-part {
  display: flex;
  background-color: #1F2937;
  justify-content: space-between;
  align-items: center;
  padding: 10px 200px;
  margin-bottom: 0;
  color: #F9FAF8;
}
ul{
  list-style-type: none;
  font-family: Arial;
  display: flex;
  gap: 30px;
  font-size: 12px;
}
a{
  text-decoration: none;
  color: #F9FAF8;
}
.header-logo {
  font-weight: bold;
}
.hero-section {
  background-color: #1F2937;
  padding: 50px 100px;
  display: flex;
  justify-content: center;
  align-items: stretch;
}
.left-hero-section{
  width: 300px;
  margin-right: 100px;
}
.placeholder{
  background-color: rgba(187, 187, 187, 0.473);
  width: 380px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 11px;
}
.hero-text {
  margin-top: 0;
  font-size: 32px;
  font-weight: bold;
  color: #E5E7EB;
  font-weight: 900;
  margin-bottom: 0;
}
.hero-description {
  font-size: 12px;
  color: #E5E7EB;
  margin-top: 4px;
}
.signup {
  background-color: #3882F6;
  border: none;
  padding: 5px 20px;
  border-radius: 5px;
  color: #E5E7EB;
  font-weight: 700;
}
.hero-image {
  width: 400px;
  height: 150px;
}
.main-section{
  display: flex;
  flex-direction: column;
}
.first-main{
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 12px;
  padding-bottom: 100px;
}
.album-songs {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
}
.box-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.subtext{
  width: 100px;
  font-size: 10px;
  text-align: center;
  color: rgb(97, 97, 97);
  margin-top: 5px;
}
.boxes{
  padding: 60px;
  border-radius: 10px;
  border: #3882F6 3px solid;
}
.quote{
  padding: 50px;
  background-color: #E5E7EB;
  display: flex;
  justify-content: center;
}
.quotes-inside{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 830px;
}
.lyrics {
  font-size: 38px;
  color: #1F2937;
  font-weight: 300;
  margin-bottom: 0;
  font-style: italic;
}
.artist {
  margin-top: 0;
  align-self: flex-end;
  font-weight: bold;
}
.bottom-section{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 70px;
}
.bottom-section-inside{
  display: flex;
  background-color: #3882F6;
  width: 800px;
  justify-content: space-between;
  padding: 15px 70px;
  border-radius: 6px;
  
}
.action {
  margin-bottom: 0px;
  font-weight: bold;
  color: white;
  font-size: 18px;
}
.click {
  margin-top: 3px;
  color: white;
}
.sign-up-2 {
  border: white 2px solid;
  background-color: transparent;
  color: white;
  align-self: center;
  padding: 5px 25px;
  border-radius: 5px;
}
button:hover{
  cursor: pointer;
}
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  background-color: #1F2937;
  color: white;
}
